{
  "presets": ["next/babel"],
  "plugins": [
    ["styled-components", { "preprocess": false }],
    [
      "inline-react-svg",
      {
        "svgo": {
          "plugins": [
            {
              "removeAttrs": { "attrs": "(data-name)" }
            },
            {
              "cleanupIDs": false
            },
            {
              "removeTitle": true
            }
          ]
        }
      }
    ]
  ]
}
