---
layout: base
---

<div>Hello</div>

<div class="block">
    {# <Header /> #}
    <a href="/">
        <div class="logo-container">
            <img src="/static/logo.svg">
            <h2>prototyping.coffee</h2>
        </div>
    </a>
    <h1 class="teaser">
        A collection of coffee brewing recipes
            <br/>
            from all over the
            <span style="text-decoration: line-through; color: grey">
              world
            </span>
            internet
          </h1>

</div>

<footer>
    &copy; 2021 <a href="https://www.tvooo.de">Tim von Oldenburg</a>. Images from <a href="https://unsplash.com/collections/2206352/coffee">Unsplash</a>.
</footer>
