:root {
    --color-primary: blue;
    --color-black: #344238;
    --color-gray: #f8f9f8;
}

  @font-face {
    font-family: "sweden_sansregular";
    src: url("/static/fonts/swedensans-webfont.eot");
    src: url("/static/fonts/swedensans-webfont.eot?#iefix")
        format("embedded-opentype"),
      url("/static/fonts/swedensans-webfont.woff2") format("woff2"),
    url("/static/fonts/swedensans-webfont.woff") format("woff"),
      url("/static/fonts/swedensans-webfont.ttf") format("truetype"),
      url("/static/fonts/swedensans-webfont.svg#sweden_sansregular")
        format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
  }

  @font-face {
    font-family: "sweden_sansregular";
    src: url("/static/fonts/swedensansbold-webfont.eot");
    src: url("/static/fonts/swedensansbold-webfont.eot?#iefix")
        format("embedded-opentype"),
      url("/static/fonts/swedensansbold-webfont.woff2") format("woff2"),
      url("/static/fonts/swedensansbold-webfont.woff") format("woff"),
      url("/static/fonts/swedensansbold-webfont.ttf") format("truetype"),
      url("/static/fonts/swedensansbold-webfont.svg#sweden_sansregular")
        format("svg");
    font-weight: bold;
    font-style: normal;
    font-display: fallback;
  }

  body {
    margin: 0;
    padding: 2rem;
    padding: 0;
    background-color: #f4f4f4;
    background-color: var(--color-gray);
    font-family: sweden_sansregular, sans-serif;
    color: var(--color-black);
  }
  button {
      font-family: sweden_sansregular, sans-serif;
  }
.header {
    padding: 2rem 0 4rem 0;
}

.logo-container {

  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.block {
    max-width: 1400px;
  margin: 0 auto;
}

.teaser {
    text-align: center;
}
